python-dotenv
pydantic
tiktoken
fastapi
uvicorn
google-api-python-client
beautifulsoup4
rank-bm25
pyvis
networkx


langchain
langchain-community
langchain-core
langchain-nvidia-ai-endpoints
langchain-google-community
pip-system-certs
langchain-openai

qdrant-client
langchain-qdrant
fastembed
llama-parse
llama-index-core
streamlit
python-dotenv
pydantic
neo4j
langchain-neo4j


# Stay in the root folder and run "python -m src.ingestion.indexer", "python src/ingestion/parser.py"